<<<<<<< HEAD
<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights reserved.</h6>
    </nav>
=======
<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights reserved.</h6>
    </nav>
>>>>>>> ce1d2bf032d726585d7be6cf965ba2db66a2cd6a
  </footer>