<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to our Pollster Survey Site</h1>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
		
        <a class="navbar-brand" href="#">
          <img src="/logo.jpg" alt="logo" width="500" height="600"></img>
          </a>
    </div>
  </main>

   
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




